.pedidos .itens .quant {
     width: 30px;
}

.pedidos .itens .unid {
    width: 30px;
}

.pedidos .itens .espec {
    width: 712px;
}

.pedidos .itens table tbody td {
    padding: 0;
}

.pedidos .itens .quant,
.pedidos .itens .unid,
.pedidos .itens .espec {
    border: 1px solid #CDCDCD;
    height: 25px;
    border-radius: 2px;
    padding: 3px 5px;
    margin: 3px;
}

.pedidos .itens .remover,  .pedidos .itens .cod{
    padding: 12px;
}

.pedidos .nome-cliente, .pedidos .nome-obra {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.3em;
}

.itens-pedido-compra .nome-cliente, .itens-pedido-compra .nome-obra, .itens-pedido-compra .finalidade-pedido {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.3em;
}

.itens-pedido-compra .input {
    float: left;
}

.itens-pedido-compra .campos {
    background-color: #EEE;
}

.itens-pedido-compra .campos label {
    margin-left: 3px;
    padding-bottom: 0;
}

.itens-pedido-compra input[type=text],
.itens-pedido-compra select {
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    padding: 3px 5px;
    margin: 3px;
}

.itens-pedido-compra .quantidade {
    height: 22px;
    width: 40px;
}

.itens-pedido-compra .unidade {
    height: 30px;
    width: 200px;
}

.itens-pedido-compra .servico {
    height: 22px;
    width: 400px;
}

.clear {
    clear: both;
}

.campos input[type=submit] {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #333333;
    color: #333333;
    height: 29px;
    margin-top: 39px;
    padding: 5px;
    margin-left: 5px;
}

.itens-pedido-compra table tbody th {
    padding: 8px !important;
}

.itens-pedido-compra table tbody td {
    padding: 8px !important;
}



div.level-0 { }
div.level-1 { margin-left: 30px; }

img.permission-toggle:hover { cursor: pointer; }
img.hook-toggle:hover { cursor: pointer; }

.controller-row { background: #6f6f6f; font-weight: bold; }
.controller:hover { cursor: pointer; }
.collapse { background: url('../img/icons/bullet_arrow_down.png') no-repeat; padding-left: 15px; }
.expand { background: url('../img/icons/bullet_arrow_right.png') no-repeat; padding-left: 15px; }

#loading { margin: 0 auto; width: 20px; text-align: center; }
#loading p { background-color: #FFF1A8; font-weight: bold; padding: 5px; margin: 0px; }

.round { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.hidden { display: none; }

.acl_actions .description{
    margin-left: 10px;
}

#alterar-senha {
    font-size: 11px;
    margin-top: 3px;
    text-align: center;
}

#alterar-senha a {
    color: #FFF !important;
}

.painel {
    clear: both;
    overflow: hidden;
}

.resumo .item {
    float: left;
    margin: 5px 10px;
    border: 1px solid #BBB;
    width: 200px;
    padding: 10px 5px;
    border-radius: 2px;
}

.resumo .item:hover {
    background-color: #F0F0F0;
}

.resumo .item span {
    display: block;
    text-align: center;
}

.resumo .item .num {
    font-size: 20px;
    margin-bottom: 5px;
}

.resumo .item .descricao {
    color: #333;
    font-style: italic;
}



.red, .red a {
    color: #D60827 !important;
}

.green, .green a {
    color: #4E9920 !important;
}


.opcoes .item {
    float: left;
    margin: 5px 10px;
    border: 1px solid #BBB;
    width: 200px;
    padding: 10px 5px;
}