body {
    background: url("../img/admin/body-bg.png") repeat scroll center center #FFFFFF;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
a {
    color: #0084B0;
}
a:hover {
    color: #333333;
}
.wrapper {
    margin: 0 auto;
    padding: 10px 0;
    width: 1000px;
}
#header {
    background: transparent;
    height: 80px;
    position: relative;
}
#header .logo {
    float: left;
    padding-top: 8px;
    text-align: center;
    width: 200px;
}
#header .logo img:hover, .quick-button:active {
}
.natifications {
    float: left;
    padding: 23px 0 0 22px;
    width: 429px;
}
.natifications .box {
    background: none repeat scroll 0 0 #1C1C1C;
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 35px;
    margin-right: 3px;
    position: relative;
    width: 40px;
}
.natifications .box a {
    background: none repeat scroll 0 0 #1C1C1C;
    border-radius: 2px 2px 2px 2px;
    display: block;
    height: 23px;
    padding-top: 12px;
    text-align: center;
}
.natifications .box a:hover {
    background: none repeat scroll 0 0 #171717;
}
.natifications .box a:active {
    background: none repeat scroll 0 0 #111111;
}
.natifications .box .ballon {
    background: url("../img/admin/ballon-na.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font: 9px Tahoma,Geneva,sans-serif;
    height: 15px;
    padding-top: 2px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -9px;
    width: 17px;
}
.searchbox {
    background: url("../img/admin/searchbox.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 29px;
    margin-top: 25px;
    width: 178px;
}
.searchbox .textbox {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    float: left;
    font: 13px Arial,Helvetica,sans-serif;
    padding: 6px;
    width: 135px;
}
.searchbox .button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    height: 28px;
    width: 29px;
}
.welcome {
    color: #999999;
    float: right;
    font-size: 12px;
    line-height: 15px;
    padding-top: 26px;
    width: 135px;
    background-color: #8CC63F;
    border-radius: 5px 5px 0 0;
    height: 60px;
}
.welcome .avatar {
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-right: 7px;
}
.welcome b {
    color: #FFFFFF;
    display: block;
}
.logout {
    background: url("../img/admin/logout.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    position: absolute;
    right: 7px;
    text-indent: -9999px;
    top: 6px;
    width: 22px;
}
.logout:hover {
    background: url("../img/admin/logout-hover.png") no-repeat scroll 0 0 transparent;
}
.quick-button {
    background: url("../img/admin/quickbutton.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 25px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    width: 31px;
}
.quick-button:hover {
    background: url("../img/admin/quickbutton-hover.png") no-repeat scroll 0 0 transparent;
}
.quick-menu {
    background: #8CC63F;
    height: 90px;
    border-radius: 4px 0 0 0;
}
.quick-menu .in {
    padding: 15px 0 0 20px;
}
.quick-menu .button {
    background: #FFF;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    display: block;
    float: left;
    font-size: 11px;
    height: 60px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 70px;
}
.quick-menu .button:hover {
    background: none repeat scroll 0 0 #383838;
}
.quick-menu .button img, .quick-menu .more img {
    margin: 5px 0 6px;
    width: 32px;
}
.quick-menu .button span, .quick-menu .more span {
    display: block;
}
.quick-menu .button .ballon {
    background: url("../img/admin/quickmenu-ballon.png") no-repeat scroll 0 0 transparent;
    color: #1C1C1C;
    display: block;
    font: 9px Tahoma,Geneva,sans-serif;
    height: 15px;
    padding-top: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -6px;
    width: 17px;
}
.quick-menu .more {
    background: none repeat scroll 0 0 #121212;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    display: block;
    float: left;
    font-size: 11px;
    height: 60px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 70px;
}
.quick-menu .more:hover {
    background: none repeat scroll 0 0 #131313;
    color: #666666;
}
.sub-menu {
    background: url("../img/admin/submenu.png") repeat-x scroll center top #333333;
    height: 46px;
    overflow: hidden;
    position: relative;
}
.sub-menu ul {
    padding-left: 10px;
    padding-top: 14px;
}
.sub-menu li {
    display: inline;
    font-size: 12px;
    margin-left: -3px;
}
.sub-menu li a {
    border-radius: 30px 30px 30px 30px;
    color: #979797;
    padding: 8px 11px 6px;
}
.sub-menu li img {
    margin-bottom: -1px;
    margin-right: 6px;
}
.sub-menu li a:hover {
    background: none repeat scroll 0 0 #222222;
    color: #CCCCCC;
}
.sub-menu li a:active {
    background: none repeat scroll 0 0 #202020;
    color: #FFFFFF;
}
.sub-menu .view-site {
    padding: 15px 7px;
    position: absolute;
    right: 0;
    top: 0;
}
.sub-menu .view-site a {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #232323;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 8px;
}
.sub-menu .view-site a:hover {
    color: #F1F1F1;
}
.page-wrap {
    background: url("../img/admin/page-wrap-bg.png") repeat-x scroll 0 0 transparent;
    color: #999999;
    font-size: 12px;
    height: 29px;
    padding: 15px 0 0 14px;
}
.page-wrap a {
    color: #737373;
    font-weight: 700;
}
.page-wrap .dashboard {
    background: url("../img/admin/dashboard.png") no-repeat scroll left center transparent;
    padding-left: 22px;
}
.page-wrap a:hover {
    color: #666666;
    text-decoration: underline;
}
.main {
    padding: 15px;
}
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 998px;
}
.simplebox {
    box-shadow: 0 1px 1px #F2F2F2;
    margin-bottom: 30px;
}
.simplebox .title {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/admin/simplebox-titlebg.png") no-repeat scroll center bottom #FFFFFF;
    border-color: #CCCCCC #CCCCCC #C7C7C7;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 14px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
}
.simplebox .title span {
    background: url("../img/admin/arrow-down-up.png") no-repeat scroll right center transparent;
    display: block;
    height: 17px;
    position: absolute;
    right: 16px;
    top: 10px;
    width: 50px;
}
.simplebox .body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/admin/simplebox-body-bg.png") repeat-x scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: -moz-use-text-color #E2E2E2 #B7B7B7;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 15px;
    overflow: hidden;
}
#stats {
    background: url("../img/admin/stats-bg.png") repeat-x scroll center bottom #F8F8F8;
    width: 100%;
}
#stats td {
    border: 1px solid #CCCCCC;
    color: #999999;
    font-size: 10px;
    padding: 22px 0 18px;
    text-align: center;
    width: 20%;
}
#stats td b {
    color: #666666;
    display: block;
    font-size: 25px;
    padding-bottom: 6px;
}
#stats td span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-top: 7px;
}
#stats td .up {
    color: #39A546;
}
#stats td .down {
    color: #FF3333;
}
#stats td .normal {
    color: #999999;
}
.listmenu {
    margin-top: -10px;
}
.listmenu li {
    border-bottom: 1px solid #E0E0E0;
    display: block;
}
.listmenu li a {
    display: block;
    padding: 12px 0;
}
.blockquote {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F4F4F4;
    border-color: #DADADA;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    font-size: 12px;
    line-height: 17px;
    padding: 10px;
}
.alert-close {
    background: url("../img/admin/alert-close.png") no-repeat scroll right center transparent;
    display: block;
    height: 12px;
    position: absolute;
    right: 11px;
    text-indent: -9999px;
    top: 14px;
    width: 12px;
}

.error-message {
    color: #FF4933;
    font-size: 12px;
    margin-top: 3px;
}

.mensagens .success,
#ajax-save-message .success{
    background: url("../img/admin/success.png") no-repeat scroll 11px 11px #BEE2C2;
    border: 1px solid #59B564;
    border-radius: 3px 3px 3px 3px;
    color: #2D5331;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 14px 15px 14px 36px;
    position: relative;
}


.mensagens .error,
#ajax-save-message .error{
    background: url("../img/admin/error.png") no-repeat scroll 11px 11px #FFDEDE;
    border: 1px solid #FFB0B0;
    border-radius: 3px 3px 3px 3px;
    color: #7D2B2B;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 14px 15px 14px 36px;
    position: relative;
}
.mensagens .aviso,
.mensagens .notice,
#ajax-save-message .aviso{
    background: url("../img/admin/warning.png") no-repeat scroll 11px 11px #FFF0D3;
    border: 1px solid #FFD680;
    border-radius: 3px 3px 3px 3px;
    color: #8B7748;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
    padding: 14px 15px 14px 36px;
    position: relative;
}
.information-box {
    background: url("../img/admin/information.png") no-repeat scroll 11px 11px #E3ECFF;
    border: 1px solid #C4D7FF;
    border-radius: 3px 3px 3px 3px;
    color: #516574;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
    padding: 14px 15px 14px 36px;
    position: relative;
}
.statistics {
    font-size: 15px;
    margin-top: -10px;
}
.statistics li {
    border-bottom: 1px solid #E0E0E0;
    display: block;
    padding: 14px 0;
    position: relative;
}
.statistics li b {
    color: #333333;
    display: block;
    font-size: 21px;
    position: absolute;
    right: 0;
    top: 12px;
}
.gallery .get {
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 140px;
    padding: 10px;
    width: 108px;
}
.gallery .get:hover {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #F2F2F2;
}
.gallery .get .thumbnail {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DFDFDF #DFDFDF #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}
.gallery .get .action a {
    font-size: 11px;
}
.gallery .get .name {
    color: #666666;
    display: block;
    font-size: 11px;
    left: 17px;
    padding: 8px 0;
}


.buttons {
    margin-top: 20px;
    clear: both;
}

.sem-tabs {
    margin-top: 30px;
}

.submit {
    float: left;
    margin-right: 20px;
}

.button-dark, .submit input[type=submit] {
    background: url("../img/admin/dark.png") repeat-x scroll center top #595959;
    border: 1px solid #595959;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-dark:hover {
    background: url("../img/admin/dark-hover.png") repeat-x scroll center top #828282;
    color: #FFFFFF;
}
.button-light {
    background: url("../img/admin/light.png") repeat-x scroll center top #E7E7E7;
    border: 1px solid #B1B1B1;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-light:hover {
    background: url("../img/admin/light-hover.png") repeat-x scroll center top #FDFDFD;
    color: #666666;
}
.button-red {
    background: url("../img/admin/red.png") repeat-x scroll center top #FF3333;
    border: 1px solid #C43824;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-red:hover {
    background: url("../img/admin/red-hover.png") repeat-x scroll center top #FF4B4B;
    color: #FFFFFF;
}
.button-purple {
    background: url("../img/admin/purple.png") repeat-x scroll center top #993769;
    border: 1px solid #993769;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-purple:hover {
    background: url("../img/admin/purple-hover.png") repeat-x scroll center top #99618E;
    color: #FFFFFF;
}
.button-blue {
    background: url("../img/admin/blue.png") repeat-x scroll center top #00759B;
    border: 1px solid #00759B;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-blue:hover {
    background: url("../img/admin/blue-hover.png") repeat-x scroll center top #2997BD;
    color: #FFFFFF;
}
.button-green {
    background: url("../img/admin/green.png") repeat-x scroll center top #329C50;
    border: 1px solid #329C50;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-green:hover {
    background: url("../img/admin/green-hover.png") repeat-x scroll center top #50B66E;
    color: #FFFFFF;
}
.button-orange {
    background: url("../img/admin/orange.png") repeat-x scroll center top #CF423C;
    border: 1px solid #CF423C;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 9px 18px;
}
.button-orange:hover {
    background: url("../img/admin/orange-hover.png") repeat-x scroll center top #F97848;
    color: #FFFFFF;
}

.paging {
    float: right;
}

.paging span a {
    background: url("../img/admin/pagination.gif") no-repeat scroll 0 0 transparent;
    color: #656565;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 1.83em;
    margin: 0 0 0 3px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 23px;
}

.paging .current {
    background: url("../img/admin/pagination.gif") no-repeat scroll 0 0 transparent;
    color: #1C1C1C;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 23px;
    line-height: 1.83em;
    margin: 0 0 0 3px;
    padding: 0;
    text-align: center;
}

.paging a.prev {
    background-image: url("../img/admin/pagination-left.gif");
    width: 18px;
}

.paging a.next {
    background: url("../img/admin/pagination-right.gif") repeat scroll 0 0 transparent;
    width: 18px;
}


.page-button-dark {
    background: url("../img/admin/button/dark.png") repeat-x scroll center top #595959;
    border: 1px solid #595959;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-dark:hover {
    background: url("../img/admin/dark-hover.png") repeat-x scroll center top #828282;
    color: #FFFFFF;
}
.page-button-light {
    background: url("../img/admin/light.png") repeat-x scroll center top #E7E7E7;
    border: 1px solid #B1B1B1;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-light:hover {
    background: url("../img/admin/light-hover.png") repeat-x scroll center top #FDFDFD;
    color: #666666;
}
.page-button-red {
    background: url("../img/admin/red.png") repeat-x scroll center top #FF3333;
    border: 1px solid #C43824;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-red:hover {
    background: url("../img/admin/red-hover.png") repeat-x scroll center top #FF4B4B;
    color: #FFFFFF;
}
.page-button-purple {
    background: url("../img/admin/purple.png") repeat-x scroll center top #993769;
    border: 1px solid #993769;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-purple:hover {
    background: url("../img/admin/purple-hover.png") repeat-x scroll center top #99618E;
    color: #FFFFFF;
}
.page-button-blue {
    background: url("../img/admin/blue.png") repeat-x scroll center top #00759B;
    border: 1px solid #00759B;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-blue:hover {
    background: url("../img/admin/blue-hover.png") repeat-x scroll center top #2997BD;
    color: #FFFFFF;
}
.page-button-green {
    background: url("../img/admin/green.png") repeat-x scroll center top #329C50;
    border: 1px solid #329C50;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-green:hover {
    background: url("../img/admin/green-hover.png") repeat-x scroll center top #50B66E;
    color: #FFFFFF;
}
.page-button-orange {
    background: url("../img/admin/orange.png") repeat-x scroll center top #CF423C;
    border: 1px solid #CF423C;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-orange:hover {
    background: url("../img/admin/orange-hover.png") repeat-x scroll center top #F97848;
    color: #FFFFFF;
}
.page-button-pink {
    background: url("../img/admin/pink.png") repeat-x scroll center top #CF423C;
    border: 1px solid #BB4353;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 4px 6px;
}
.page-button-pink:hover {
    background: url("../img/admin/pink-hover.png") repeat-x scroll center top #FB6495;
    color: #FFFFFF;
}

.input {
    float: left;
    overflow: hidden;
    margin-right: 20px;
}

.ui-tabs, .ui-tabs-panel {
    overflow: hidden;
}

.input label, .input legend {
    color: #666666;
    display: block;
    font: bold 13px Arial,Helvetica,sans-serif;
    margin-top: 14px;
    padding: 6px 0;
}

.checkbox label {
    margin-top: 40px;
}


.input-medium, .selectbox-small {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/admin/form-inputbg.png") repeat-x scroll center top #FBFBFB;
    border-color: #BFBFBF #D7D7D7 #E0E0E0;
    border-left: 1px solid #D7D7D7;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #D7D7D7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 5px;
    width: 220px;
    font-size: 13px !important;
}

.input-big, .selectbox-big, .textearea-big {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/admin/form-inputbg.png") repeat-x scroll center top #FBFBFB;
    border-color: #BFBFBF #D7D7D7 #E0E0E0;
    border-left: 1px solid #D7D7D7;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #D7D7D7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 5px;
    width: 400px;
    font-size: 13px !important;
}

.selectbox-big {
    width: 412px;
    padding: 4px 5px;
}

.st-radio, .st-checkbox {
    margin-right: 14px;
}
.st-radio-display, .st-checkbox-display {
    display: block;
    padding: 5px 2px;
}
.st-radio-display:hover, .st-checkbox-display:hover {
    background: none repeat scroll 0 0 #F1F1F1;
}

.checkbox {
    width: 100px;
}

.checkbox input[type=checkbox]{
    float: right;
    margin-top: 48px;
}

.message-true {
    color: #53995A;
    font-weight: 700;
    padding-left: 10px;
}
.message-false {
    color: #FF3333;
    font-weight: 700;
    padding-left: 10px;
}
.st-radio:hover, .st-checkbox:hover {
    color: #333333;
}
.input-small {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/admin/form-inputbg.png") repeat-x scroll center top #FBFBFB;
    border-color: #BFBFBF #D7D7D7 #E0E0E0;
    border-left: 1px solid #D7D7D7;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #D7D7D7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 5px;
    width: 130px;
}
.input-large {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/admin/form-inputbg.png") repeat-x scroll center top #FBFBFB;
    border-color: #BFBFBF #D7D7D7 #E0E0E0;
    border-left: 1px solid #D7D7D7;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #D7D7D7;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 10px;
    width: 300px;
}
.h1-tag {
    color: #333333;
    font-size: 26px;
    margin: 5px 0;
}
.h2-tag {
    color: #333333;
    font-size: 22px;
    margin: 5px 0;
}
.h3-tag {
    color: #333333;
    font-size: 18px;
    margin: 5px 0;
}
.h4-tag {
    color: #333333;
    font-size: 15px;
    margin: 5px 0;
}
.h5-tag {
    color: #333333;
    font-size: 13px;
    margin: 5px 0;
}
.p-tag {
    color: #666666;
    display: block;
    font: 13px/20px Arial,Helvetica,sans-serif;
    padding: 5px 0 16px;
}
.list-disc, .list-disc ul {
    display: block;
    list-style: disc outside none;
    padding-left: 13px;
}
.list-numeric, .list-numeric ul {
    display: block;
    list-style: decimal outside none;
    padding-left: 13px;
}
.list-disc li, .list-numeric li {
    padding: 6px 0;
}
.display-block {
    display: block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.border-0 {
    border: medium none;
}
.background-0 {
    background: none repeat scroll 0 0 transparent;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-underline {
    text-decoration: underline;
}
.f-bold {
    font-weight: bold;
}
.f-italic {
    font-style: italic;
}
.font11 {
    font-size: 11px;
}
.font12 {
    font-size: 12px;
}
.font13 {
    font-size: 13px;
}
.font14 {
    font-size: 14px;
}
.font15 {
    font-size: 15px;
}
.font16 {
    font-size: 16px;
}
.font17 {
    font-size: 17px;
}
.font18 {
    font-size: 18px;
}
.font19 {
    font-size: 19px;
}
.font20 {
    font-size: 20px;
}
.font21 {
    font-size: 21px;
}
.font22 {
    font-size: 22px;
}
.font23 {
    font-size: 23px;
}
.font24 {
    font-size: 24px;
}
.font25 {
    font-size: 25px;
}
.font26 {
    font-size: 26px;
}
.font27 {
    font-size: 27px;
}
.font28 {
    font-size: 28px;
}
.font29 {
    font-size: 29px;
}
.font30 {
    font-size: 30px;
}
margin5 {
    margin: 5px;
}
margin10 {
    margin: 10px;
}
margin20 {
    margin: 20px;
}
margin30 {
    margin: 30px;
}
margin40 {
    margin: 40px;
}
margin50 {
    margin: 50px;
}
margin60 {
    margin: 60px;
}
margin70 {
    margin: 70px;
}
margin80 {
    margin: 80px;
}
margin90 {
    margin: 90px;
}
margin100 {
    margin: 100px;
}
margin150 {
    margin: 150px;
}
margin200 {
    margin: 200px;
}
.margin-left5 {
    margin-left: 5px;
}
.margin-left10 {
    margin-left: 10px;
}
.margin-left20 {
    margin-left: 20px;
}
.margin-left30 {
    margin-left: 30px;
}
.margin-left40 {
    margin-left: 40px;
}
.margin-left50 {
    margin-left: 50px;
}
.margin-left60 {
    margin-left: 60px;
}
.margin-left70 {
    margin-left: 70px;
}
.margin-left80 {
    margin-left: 80px;
}
.margin-left90 {
    margin-left: 90px;
}
.margin-left100 {
    margin-left: 100px;
}
.margin-left150 {
    margin-left: 150px;
}
.margin-left200 {
    margin-left: 200px;
}
.margin-right5 {
    margin-right: 5px;
}
.margin-right10 {
    margin-right: 10px;
}
.margin-right20 {
    margin-right: 20px;
}
.margin-right30 {
    margin-right: 30px;
}
.margin-right40 {
    margin-right: 40px;
}
.margin-right50 {
    margin-right: 50px;
}
.margin-right60 {
    margin-right: 60px;
}
.margin-right70 {
    margin-right: 70px;
}
.margin-right80 {
    margin-right: 80px;
}
.margin-right90 {
    margin-right: 90px;
}
.margin-right100 {
    margin-right: 100px;
}
.margin-right150 {
    margin-right: 150px;
}
.margin-right200 {
    margin-right: 200px;
}
.margin-top5 {
    margin-top: 5px;
}
.margin-top10 {
    margin-top: 10px;
}
.margin-top20 {
    margin-top: 20px;
}
.margin-top30 {
    margin-top: 30px;
}
.margin-top40 {
    margin-top: 40px;
}
.margin-top50 {
    margin-top: 50px;
}
.margin-top60 {
    margin-top: 60px;
}
.margin-top70 {
    margin-top: 70px;
}
.margin-top80 {
    margin-top: 80px;
}
.margin-top90 {
    margin-top: 90px;
}
.margin-top100 {
    margin-top: 100px;
}
.margin-top150 {
    margin-top: 150px;
}
.margin-top200 {
    margin-top: 200px;
}
.margin-bottom5 {
    margin-bottom: 5px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
.margin-bottom20 {
    margin-bottom: 20px;
}
.margin-bottom30 {
    margin-bottom: 30px;
}
.margin-bottom40 {
    margin-bottom: 40px;
}
.margin-bottom50 {
    margin-bottom: 50px;
}
.margin-bottom60 {
    margin-bottom: 60px;
}
.margin-bottom70 {
    margin-bottom: 70px;
}
.margin-bottom80 {
    margin-bottom: 80px;
}
.margin-bottom90 {
    margin-bottom: 90px;
}
.margin-bottom100 {
    margin-bottom: 100px;
}
.margin-bottom150 {
    margin-bottom: 150px;
}
.margin-bottom200 {
    margin-bottom: 200px;
}
padding5 {
    padding: 5px;
}
padding10 {
    padding: 10px;
}
padding20 {
    padding: 20px;
}
padding30 {
    padding: 30px;
}
padding40 {
    padding: 40px;
}
padding50 {
    padding: 50px;
}
padding60 {
    padding: 60px;
}
padding70 {
    padding: 70px;
}
padding80 {
    padding: 80px;
}
padding90 {
    padding: 90px;
}
padding100 {
    padding: 100px;
}
padding150 {
    padding: 150px;
}
padding200 {
    padding: 200px;
}
.padding-left5 {
    padding-left: 5px;
}
.padding-left10 {
    padding-left: 10px;
}
.padding-left20 {
    padding-left: 20px;
}
.padding-left30 {
    padding-left: 30px;
}
.padding-left40 {
    padding-left: 40px;
}
.padding-left50 {
    padding-left: 50px;
}
.padding-left60 {
    padding-left: 60px;
}
.padding-left70 {
    padding-left: 70px;
}
.padding-left80 {
    padding-left: 80px;
}
.padding-left90 {
    padding-left: 90px;
}
.padding-left100 {
    padding-left: 100px;
}
.padding-left150 {
    padding-left: 150px;
}
.padding-left200 {
    padding-left: 200px;
}
.padding-right5 {
    padding-right: 5px;
}
.padding-right10 {
    padding-right: 10px;
}
.padding-right20 {
    padding-right: 20px;
}
.padding-right30 {
    padding-right: 30px;
}
.padding-right40 {
    padding-right: 40px;
}
.padding-right50 {
    padding-right: 50px;
}
.padding-right60 {
    padding-right: 60px;
}
.padding-right70 {
    padding-right: 70px;
}
.padding-right80 {
    padding-right: 80px;
}
.padding-right90 {
    padding-right: 90px;
}
.padding-right100 {
    padding-right: 100px;
}
.padding-right150 {
    padding-right: 150px;
}
.padding-right200 {
    padding-right: 200px;
}
.padding-top5 {
    padding-top: 5px;
}
.padding-top10 {
    padding-top: 10px;
}
.padding-top20 {
    padding-top: 20px;
}
.padding-top30 {
    padding-top: 30px;
}
.padding-top40 {
    padding-top: 40px;
}
.padding-top50 {
    padding-top: 50px;
}
.padding-top60 {
    padding-top: 60px;
}
.padding-top70 {
    padding-top: 70px;
}
.padding-top80 {
    padding-top: 80px;
}
.padding-top90 {
    padding-top: 90px;
}
.padding-top100 {
    padding-top: 100px;
}
.padding-top150 {
    padding-top: 150px;
}
.padding-top200 {
    padding-top: 200px;
}
.padding-bottom5 {
    padding-bottom: 5px;
}
.padding-bottom10 {
    padding-bottom: 10px;
}
.padding-bottom20 {
    padding-bottom: 20px;
}
.padding-bottom30 {
    padding-bottom: 30px;
}
.padding-bottom40 {
    padding-bottom: 40px;
}
.padding-bottom50 {
    padding-bottom: 50px;
}
.padding-bottom60 {
    padding-bottom: 60px;
}
.padding-bottom70 {
    padding-bottom: 70px;
}
.padding-bottom80 {
    padding-bottom: 80px;
}
.padding-bottom90 {
    padding-bottom: 90px;
}
.padding-bottom100 {
    padding-bottom: 100px;
}
.padding-bottom150 {
    padding-bottom: 150px;
}
.padding-bottom200 {
    padding-bottom: 200px;
}
table {
    background-color: #CDCDCD;
    border: 1px solid #CDCDCD;
    font-family: arial;
    font-size: 12px;
    margin: 10px 0 15px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
table .striped th ,table th{
    background-color: #E7E7E7;
    border: 1px solid #CDCDCD;
    font-size: 8pt;
    padding: 12px;
}
table .striped th, table th {
    background-position: right center;
    background-repeat: no-repeat;
    color: #333333;
    cursor: pointer;
}

table tbody td {
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    color: #3D3D3D;
    padding: 10px;
    vertical-align: top;
}

div.actions { padding: 0; }
div.actions ul { float: left; }
div.actions ul li { margin: 0px 10px 10px 0px; padding: 0px; list-style: none; float: left; }
div.actions ul li a { padding: 10px; margin-right: 10px; text-decoration: none; font-weight: bold; float: left; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #ddd; }
div.actions ul li a { background: -moz-linear-gradient(center top, #fefefe, #eee) repeat scroll 0 0 transparent; }
div.actions ul li a { background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee)); }
div.actions ul li a:hover { border: 1px solid #bbb; }
div.actions ul li a:active { background: -moz-linear-gradient(center top, #eee, #fefefe) repeat scroll 0 0 transparent; }
div.actions ul li a:active { background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fefefe)); }


.users form {
    clear: both;
}

.filter {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 10px 0;
}

.filter .submit {
    margin-top: 26px;
}

.filter .submit input[type=submit] {
    padding: 4px;
}

.filter label {
    margin: 0;
}

.dadosForm {
    clear: both;
    border: 1px solid #DDD;
    margin-bottom: 20px;
    padding: 0 10px 10px;
}

.dadosForm legend {
    color: #666666;
    font: bold 14px Arial,Helvetica,sans-serif;
    padding: 0 5px;
}

.info-direita {
    float: right;
}

.info-direita span {
    color: #4C75B2;
    font-weight: bold;
}