/* 
    Document   : style
    Created on : 16/07/2012, 09:23:23
    Author     : Uziel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#topo {
    background: #CCC;
    width: 1020px;
    height: 160px;
    margin: 0 auto;
}

#topo #logo {
    padding: 20px
}

#menu {
    background: #01011D;
    color: #FFF;
    padding-top: 0;
    overflow: hidden;
    height: 40px;
}

#menu .center {
    width: 1020px;
    margin: 0 auto;
}

#menu ul {
    list-style: none;
    margin-top: 5px;
}

#menu ul li {
    float: left;
}

#menu li a {
    padding: 8px 10px;
    color: #FFF;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

#menu li a:hover {
    color: #000;
    background-color: #FFF;
}

#content {
    width: 1020px;
    margin: 0 auto;
    height: 500px;
    background: #EEE;
}

footer {
    background-color: #000033;
}

footer .center {
    width: 1020px;
    margin: 0 auto;
}