.container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.navbar .container {
    /*width: 940px !important*/
}

.exames-andamento {
    margin-left: 0;
}

.exames-andamento .exame, .box-aviso {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 10px 20px;;
}

.exame .modal-header {
    overflow: hidden;
    margin-bottom: 10px;
}

.exame .modal-header h3 {
    float: left;
    color: #555;
}

.exame .modal-header button {
    float: right;
}

.error-message {
    color: red;
    font-size: 12px;
}

.form-error {
    border-color: #B94A48 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}


/* cadastro-candidato */

.cadastro-candidato .box-aviso {
    margin: 20px 0;
    padding-top: 0;
}

.navbar-inner {
    background-color: #8CC63F !important;
    background-image: none !important;
    background-repeat: repeat-x;
    border-color: #2C420D !important;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #FFF;
}