<div class="dashboard simplebox">
    
    <div class="title">
        <?php echo $title_for_layout; ?>
        <span></span>
    </div>
    <div class="body">
        Sistema de Exame/Vestibular - IFAL
    </div>
</div>